<div>Dziękujemy za rejestrację <b>{{ firstname }} {{ surname }} ({{ email }})</b></div>
<hr/>
<div>Podałeś następujące dane:</div>
<div>Opis: <b>{{ description }}</b></div>
<div>Stanowisko: <b>{{ position }}</b></div>
<div>Dodatkowe informacje:
    <div style="padding: 5px;">
        {% if additionalData.knownReportingSystems is defined %}
            <div>Znane systemy raportujące: <b>{{ additionalData.knownReportingSystems }}</b></div>{% endif %}
        {% if additionalData.knownTestingSystems is defined %}
            <div>Znane systemy testujące: <b>{{ additionalData.knownTestingSystems }}</b></div>{% endif %}
        {% if additionalData.isSeleniumKnown is defined %}
            <div>Czy Selenium jest znane: <b>{% if additionalData.isSeleniumKnown %}tak{% else %}nie{% endif %}
            </div>{% endif %}
        {% if additionalData.knownIDE is defined %}
            <div>Znane IDE: <b>{{ additionalData.knownIDE }}</b></div>{% endif %}
        {% if additionalData.knownProgrammingLanguages is defined %}
            <div>Znane języki programowania: <b>{{ additionalData.knownProgrammingLanguages }}</b></div>{% endif %}
        {% if additionalData.isMysqlKnown is defined %}
            <div>Czy MySQL jest znane: <b>{% if additionalData.isMysqlKnown %}tak{% else %}nie{% endif %}</b>
            </div>{% endif %}
        {% if additionalData.knownProjectManagementMethods is defined %}
            <div>Znane metody zarządzania projektem: <b>{{ additionalData.knownProjectManagementMethods }}</b>
            </div>{% endif %}
        {% if additionalData.isScrumKnown is defined %}
            <div>Czy znany jest Scrum: <b>{% if additionalData.isScrumKnown %}tak{% else %}nie{% endif %}</b>
            </div>{% endif %}
    </div>
</div>

