<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" translate>APP_NAME</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/" routerLinkActive="active">
          <i class="fas fa-user-plus"></i>
          <span translate>Rejestracja</span>
        </a>
        <a
          class="nav-item nav-link text-uppercase"
          routerLink="/admin"
          routerLinkActive="active"
          *ngIf="isGranted('ROLE_ADMIN')"
        >
          <i class="fas fa-users-cog"></i>
          <span translate>Admin</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item nav-link" *ngIf="isAuthenticated">
          <b>{{ username }}</b>
        </div>
        <a
          class="nav-item nav-link text-uppercase"
          routerLink="/login"
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
        >
          Zaloguj
        </a>
        <div class="nav-item nav-link" (click)="logout()" *ngIf="isAuthenticated">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>
    </div>
  </nav>
</header>
