<div class="container">
  <div class="p-2">
    <app-user-add [user]="activeUser" *ngIf="activeUser" (onSaveSuccessful)="refresh()"></app-user-add>
  </div>

  <ng-template #loading>
    <app-loader [isLoading]="true" message="Pobieranie danych, proszę czekać"></app-loader>
  </ng-template>
  <div *ngIf="users; else loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">E-mail</th>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | slice: (page - 1) * 10:page * 10; let i = index">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.surname }}</td>
          <td>
            <button class="btn" (click)="remove(i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button class="btn" (click)="edit(i)">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="users.length" [(page)]="page" pageSize="10"></ngb-pagination>
    </div>
  </div>
</div>
