<div *ngFor="let error of errors | keyvalue" [ngSwitch]="error.key">
  <div *ngSwitchCase="'required'">Wartość jest obowiązkowa</div>
  <div *ngSwitchCase="'notblank'">Wartość jest obowiązkowa</div>
  <div *ngSwitchCase="'notnull'">Wartość jest obowiązkowa</div>
  <div *ngSwitchCase="'email'">Wartość musi być poprawnym adresem e-mail</div>
  <div *ngSwitchDefault>{{ error.key }}</div>
</div>
