<ng-template #positionsLoading>
  <app-loader [isLoading]="true" message="Pobieranie danych, proszę czekać"></app-loader>
</ng-template>
<ngb-alert (close)="hideAlert()" *ngIf="isSaveSuccessful" type="success">Zapisano użytkownika</ngb-alert>
<form (ngSubmit)="onSubmit()" *ngIf="mappedPositions.size; else positionsLoading" [formGroup]="form">
  <div class="form-group">
    <label for="user-email" translate>E-mail</label>
    <input
      [class.is-invalid]="getErrors('email')"
      class="form-control"
      formControlName="email"
      id="user-email"
      required="true"
      type="email"
    />
    <app-error-messages [errors]="getErrors('email')" class="invalid-feedback"></app-error-messages>
  </div>
  <div class="form-group">
    <label for="user-firstname" translate>Imię</label>
    <input
      [class.is-invalid]="getErrors('firstname')"
      class="form-control"
      formControlName="firstname"
      id="user-firstname"
      required="true"
      type="text"
    />
    <app-error-messages [errors]="getErrors('firstname')" class="invalid-feedback"></app-error-messages>
  </div>
  <div class="form-group">
    <label for="user-surname" translate>Nazwisko</label>
    <input
      [class.is-invalid]="getErrors('surname')"
      class="form-control"
      formControlName="surname"
      id="user-surname"
      required="true"
      type="text"
    />
    <app-error-messages [errors]="getErrors('surname')" class="invalid-feedback"></app-error-messages>
  </div>
  <div class="form-group">
    <label for="user-description" translate>Opis</label>
    <textarea
      [class.is-invalid]="getErrors('description')"
      class="form-control"
      formControlName="description"
      id="user-description"
      rows="3"
    ></textarea>
    <app-error-messages [errors]="getErrors('description')" class="invalid-feedback"></app-error-messages>
  </div>
  <div class="form-group">
    <label for="user-position">Stanowisko</label>
    <select
      (change)="setAdditionalData()"
      [class.is-invalid]="getErrors('position')"
      class="custom-select"
      formControlName="position"
      id="user-position"
      required="true"
    >
      <option *ngFor="let position of mappedPositions | keyvalue" [value]="position.key">{{
        position.value.name
      }}</option>
    </select>
    <app-error-messages [errors]="getErrors('position')" class="invalid-feedback"></app-error-messages>
  </div>
  <div formGroupName="additionalData">
    <div *ngIf="visibleAdditionalData.get('knownIDE')" class="form-group">
      <label for="user-additionaldata-knownIDE">Znane IDE</label>
      <input
        [class.is-invalid]="getErrors('additionalData.knownIDE')"
        class="form-control"
        formControlName="knownIDE"
        id="user-additionaldata-knownIDE"
        required="true"
        type="text"
      />
      <app-error-messages [errors]="getErrors('additionalData.knownIDE')" class="invalid-feedback"></app-error-messages>
    </div>
    <div *ngIf="visibleAdditionalData.get('knownProgrammingLanguages')" class="form-group">
      <label for="user-additionaldata-knownProgrammingLanguages">Znane języki programowania</label>
      <input
        [class.is-invalid]="getErrors('additionalData.knownProgrammingLanguages')"
        class="form-control"
        formControlName="knownProgrammingLanguages"
        id="user-additionaldata-knownProgrammingLanguages"
        required="true"
        type="text"
      />
      <app-error-messages
        [errors]="getErrors('additionalData.knownProgrammingLanguages')"
        class="invalid-feedback"
      ></app-error-messages>
    </div>
    <div class="form-group">
      <div *ngIf="visibleAdditionalData.get('isMysqlKnown')" class="custom-control custom-checkbox">
        <input
          [class.is-invalid]="getErrors('additionalData.isMysqlKnown')"
          class="custom-control-input"
          formControlName="isMysqlKnown"
          id="user-additionaldata-isMysqlKnown"
          type="checkbox"
        />
        <label class="custom-control-label" for="user-additionaldata-isMysqlKnown">Czy MySQL jest znane?</label>
        <app-error-messages
          [errors]="getErrors('additionalData.isMysqlKnown')"
          class="invalid-feedback"
        ></app-error-messages>
      </div>
    </div>
    <div *ngIf="visibleAdditionalData.get('knownProjectManagementMethods')" class="form-group">
      <label for="user-additionaldata-knownProjectManagementMethods">Znane metody zarządzania projektem</label>
      <input
        [class.is-invalid]="getErrors('additionalData.knownProjectManagementMethods')"
        class="form-control"
        formControlName="knownProjectManagementMethods"
        id="user-additionaldata-knownProjectManagementMethods"
        required="true"
        type="text"
      />
      <app-error-messages
        [errors]="getErrors('additionalData.knownProjectManagementMethods')"
        class="invalid-feedback"
      ></app-error-messages>
    </div>
    <div *ngIf="visibleAdditionalData.get('knownReportingSystems')" class="form-group">
      <label for="user-additionaldata-knownReportingSystems">Znane systemy raportujące</label>
      <input
        [class.is-invalid]="getErrors('additionalData.knownReportingSystems')"
        class="form-control"
        formControlName="knownReportingSystems"
        id="user-additionaldata-knownReportingSystems"
        required="true"
        type="text"
      />
      <app-error-messages
        [errors]="getErrors('additionalData.knownReportingSystems')"
        class="invalid-feedback"
      ></app-error-messages>
    </div>
    <div class="form-group">
      <div *ngIf="visibleAdditionalData.get('isScrumKnown')" class="custom-control custom-checkbox">
        <input
          [class.is-invalid]="getErrors('additionalData.isScrumKnown')"
          class="custom-control-input"
          formControlName="isScrumKnown"
          id="user-additionaldata-isScrumKnown"
          type="checkbox"
        />
        <label class="custom-control-label" for="user-additionaldata-isScrumKnown">Czy Scrum jest znany?</label>
        <app-error-messages
          [errors]="getErrors('additionalData.isScrumKnown')"
          class="invalid-feedback"
        ></app-error-messages>
      </div>
    </div>
    <div *ngIf="visibleAdditionalData.get('knownTestingSystems')" class="form-group">
      <label for="user-additionaldata-knownTestingSystems">Znane systemy testujące</label>
      <input
        [class.is-invalid]="getErrors('additionalData.knownTestingSystems')"
        class="form-control"
        formControlName="knownTestingSystems"
        id="user-additionaldata-knownTestingSystems"
        required="true"
        type="text"
      />
      <app-error-messages
        [errors]="getErrors('additionalData.knownTestingSystems')"
        class="invalid-feedback"
      ></app-error-messages>
    </div>
    <div class="form-group">
      <div *ngIf="visibleAdditionalData.get('isSeleniumKnown')" class="custom-control custom-checkbox">
        <input
          [class.is-invalid]="getErrors('additionalData.isSeleniumKnown')"
          class="custom-control-input"
          formControlName="isSeleniumKnown"
          id="user-additionaldata-isSeleniumKnown"
          type="checkbox"
        />
        <label class="custom-control-label" for="user-additionaldata-isSeleniumKnown">Czy Selenium jest znane?</label>
        <app-error-messages
          [errors]="getErrors('additionalData.isSeleniumKnown')"
          class="invalid-feedback"
        ></app-error-messages>
      </div>
    </div>
  </div>
  <button [disabled]="form.invalid || isFormSubmitted" class="btn btn-primary" type="submit">
    <i [hidden]="!isFormSubmitted" aria-hidden="true" class="fa fa-cog fa-spin"></i>Zapisz
  </button>
</form>
